@font-face {
    font-family: 'KOHIBaeum';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/KOHIBaeumOTF.woff')
        format('woff');

    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
