// =========================================================== BreakPoint
$bp-mobile: 30rem; // 480px
$bp-mobile-plus: 48rem; // 768px
$bp-tablet: 62rem; // 992px
$bp-laptop: 75rem; // 1200px
$bp-pc: 120rem; // 1920px (pc 기준 max, 지금은 1201~∞로만 사용)

// =========================================================== Font
$font-weight-thin: 100;
$font-weight-extra-light: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-black: 900;

// =========================================================== Color
// Legacy
$color-white: #ffffff;
// Gray Scale
$color-gray-900: #0f172a;
$color-gray-800: #1e293b;
$color-gray-700: #334155;
$color-gray-600: #475569;
$color-gray-500: #64748b;
$color-gray-400: #94a3b8;
$color-gray-300: #cbd5e1;
$color-gray-200: #e2e8f0;
$color-gray-100: #f1f5f9;
// Primary
$color-primary-900: #050b14;
$color-primary-800: #132647;
$color-primary-700: #20427a;
$color-primary-600: #2e5dad;
$color-primary-500: #366ecc;
$color-primary-400: #5483d3;
$color-primary-300: #86a8e0;
$color-primary-200: #d1e0fa;
$color-primary-100: #ebf1fa;
// Secondary
$color-secondary-900: #04080e;
$color-secondary-800: #0d1b32;
$color-secondary-700: #152e56;
$color-secondary-600: #1e417a;
$color-secondary-500: #244c8f;
$color-secondary-400: #4467a0;
$color-secondary-300: #7b94bc;
$color-secondary-200: #b3c1d8;
$color-secondary-100: #eaeef4;
// Point
$color-point-900: #011311;
$color-point-800: #05423b;
$color-point-700: #087265;
$color-point-600: #0ca190;
$color-point-500: #0ebea9;
$color-point-400: #32c7b6;
$color-point-300: #6ed8cb;
$color-point-200: #abe8e1;
$color-point-100: #e7f9f7;
// Success
$color-success-900: #05130d;
$color-success-800: #10422e;
$color-success-700: #1b724f;
$color-success-600: #27a170;
$color-success-500: #2ebd84;
$color-success-400: #4dc796;
$color-success-300: #81d8b5;
$color-success-200: #b6e8d4;
$color-success-100: #ebf9f3;
// Error
$color-error-900: #160808;
$color-error-800: #4e1b1b;
$color-error-700: #862e2e;
$color-error-600: #be4141;
$color-error-500: #df4d4d;
$color-error-400: #e46767;
$color-error-300: #ec9494;
$color-error-200: #f4c1c1;
$color-error-100: #fceeee;

// =========================================================== Button Colors Map
$button-colors: (
    'white': $color-white,

    'gray-900': $color-gray-900,
    'gray-800': $color-gray-800,
    'gray-700': $color-gray-700,
    'gray-600': $color-gray-600,
    'gray-500': $color-gray-500,
    'gray-400': $color-gray-400,
    'gray-300': $color-gray-300,
    'gray-200': $color-gray-200,
    'gray-100': $color-gray-100,

    'primary-900': $color-primary-900,
    'primary-800': $color-primary-800,
    'primary-700': $color-primary-700,
    'primary-600': $color-primary-600,
    'primary-500': $color-primary-500,
    'primary-400': $color-primary-400,
    'primary-300': $color-primary-300,
    'primary-200': $color-primary-200,
    'primary-100': $color-primary-100,

    'secondary-900': $color-secondary-900,
    'secondary-800': $color-secondary-800,
    'secondary-700': $color-secondary-700,
    'secondary-600': $color-secondary-600,
    'secondary-500': $color-secondary-500,
    'secondary-400': $color-secondary-400,
    'secondary-300': $color-secondary-300,
    'secondary-200': $color-secondary-200,
    'secondary-100': $color-secondary-100,

    'point-900': $color-point-900,
    'point-800': $color-point-800,
    'point-700': $color-point-700,
    'point-600': $color-point-600,
    'point-500': $color-point-500,
    'point-400': $color-point-400,
    'point-300': $color-point-300,
    'point-200': $color-point-200,
    'point-100': $color-point-100,

    'success-900': $color-success-900,
    'success-800': $color-success-800,
    'success-700': $color-success-700,
    'success-600': $color-success-600,
    'success-500': $color-success-500,
    'success-400': $color-success-400,
    'success-300': $color-success-300,
    'success-200': $color-success-200,
    'success-100': $color-success-100,

    'error-900': $color-error-900,
    'error-800': $color-error-800,
    'error-700': $color-error-700,
    'error-600': $color-error-600,
    'error-500': $color-error-500,
    'error-400': $color-error-400,
    'error-300': $color-error-300,
    'error-200': $color-error-200,
    'error-100': $color-error-100,
);
